@import url(../assets/fonts/times_sans_serif.ttf);

@import url(https://fonts.googleapis.com/css?family=Heebo:300,400,600);

@import "helpers/_variables.scss";
@import "helpers/_placeholders.scss";
@import "helpers/_mixins.scss";

h1, p, li {
	font-family: $secondary-font;
}

h1 {
	font-weight: 600;
}

h3 {
	font-weight: 300;
}

p, li {
	font-weight: 300;
}

a {
	text-decoration:underline;
	cursor: pointer;
}

body {
	background-image: url("../../assets/images/nyc_skyline.jpg");
	background-repeat: no-repeat;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-o-transition: all .8s ease;
	-ms-transition: all .8s ease;
	transition: all .8s ease;
}

.content {
	position: relative;
	top: 50px;
}

#map {
	height: 550px;
}

.btn {
	padding: 14px 24px;
	width: 100%;
	border: 0 none;
	font-weight: 600;
	font-family: $secondary-font;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

.btn-add {
	@include button-variant(white, $muted-blue, blue);
}
.btn-remove {
	@include button-variant(red, white, blue);
}

#search-input {
	font-family: $secondary-font;
	font-size: 20px;
	text-align: center;
	border: 0;
	box-shadow: unset;
}

.input-group {
	.input-group-addon {
		background-color: #fffff;
		border: 0;
	}
}

.welcome-message {
	padding: 10px;
}

.header {
	position: fixed;
	width: 100%;

	@include dimensions(100%, 50px);

	background-color: $oak-brown;

	#header_components {
		@extend %center_horizontally;

		@include dimensions(90%, 50px);

		background-color: $oak-brown;
		position: absolute;

		.logo {
			font-family: $primary-font;
			font-size: 34px;
			color: #FFF;
			position: relative;
			top: 50%;
			padding-left: 10px;
			transform: translateY(-50%);
			a {
				text-decoration: none;
				color: #FFF;
			}

			a:hover {
				background-color: transparent;
			}
			sup {
				font-size: 14px;
				top: -15px;
			}
		}
	}
}

.pac-container {
	box-shadow: unset;

	.pac-item {
		text-align: center;
		font-family: $secondary-font;
		font-size: 20px;
		text-align: center;
		border: 0;
		padding: 15px;

		.pac-item-query {
			font-family: $secondary-font;
			font-size: 20px;
			text-align: center;
			border: 0;
			padding: 2px;
		}

		.pac-icon {
			display: none;
		}

		span:nth-child(3) {
			display: none;
		}
	}
}

.results-container {
	background-color: #ccc;
	height: 550px;

	#results {
		height: 550px;
		overflow: scroll;
	}

	#results-menu {
		position: relative;
		color: #fff;
		height: 50px;
		margin-top: -50px;
		overflow: hidden;
		.navbar-default{
			background-color: $oak-brown;
			border-radius: 0;
			border: 0;
			white-space: nowrap;
			ul {
				width: 100%;
				margin: 0px;
				li {
					float:left;
					width: 33.33%;
					a {
						color: #fff;
					}
				}
				li.active {
					height: auto;
					a {
						color: #000;
					}
				}
				li.disabled {
					a {
						color: #777;
					}
				}
			}
		}
	}
}

.card-container {
	background-color: #fff;
	margin-bottom: 4px;

	.card-info {
		padding: 10px;

		.card-image-container {
			display: inline-block;
			overflow: hidden;

			img {
				width: 100%;
				height: auto;
				-webkit-transition: all .75s ease;
				-moz-transition: all .75s ease;
				-ms-transition: all .75s ease;
				-o-transition: all .75s ease;
				transition: all .75s ease;
			}

			img:hover {
				-webkit-transform: scale(1.25);
				-moz-transform: scale(1.25);
				-ms-transform: scale(1.25);
				-o-transform: scale(1.25);
				transform: scale(1.25);
				cursor: pointer;
			}
		}
	}
}

.card-container:last-of-type{
	margin-bottom: 60px;
}

.route-container {
	background-color: #fff;
	margin-bottom: 2px;
	.route-info {
		padding: 10px;
		h3 {
			font-size:12px;
			display: inline-block;
		}
		button {
			width: auto;
			display: inline-block;
			float: right;
		}
	}
}

.send-container {
	background-color: #fff;
	margin-bottom: 2px;
	.send-info {
		padding: 10px;
		h3 {
			font-size:12px;
			display: inline-block;
		}
		span{
			input {
				font-size:12px;
				height: 48px !important;
			}
			button {
				padding: 8px 24px;
			}
		}
	}
}

.route-container:last-of-type{
	margin-bottom: 60px;
}

.fullscreen {
	@include dimensions(100%, 100%);

	position: absolute;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
}

.delayOverlay {
	@extend %push-forward;

	@extend %blur;

	cursor: wait;

	h1 {
		font-family: $primary-font;
		font-size: 30px;
		color: $oak-brown;
		position: relative;
		top: 30%;
		transform: translateY(-50%);
		text-align: center;
	}
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.top-offset-sm {
	margin-top: 2px;
}

.top-offset-m {
	margin-top: 5px;
}

.top-offset-l {
	margin-top: 10px;
}