$primary-font: "Times Sans Serif", sans-serif;
$secondary-font: "Heebo", sans-serif;
$oak-brown: #51484A;
$pale-grey: #E1DEDC;
$muted-blue: #4397CE;
$search-bar-length: 600px;
$search-button-length: 100px;
$places-sider-height: 230px;